header {
  margin: 1.5em 7.5em 1.5em;
  padding-bottom: 1.5em;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  letter-spacing: .15em;
  float: left;
  color: #393939;
}

nav {
  float: right;
  margin-top: .5em;
}

nav li {
  cursor: pointer;
}

nav li:last-child {
  padding-right: 0;
}

.nav-main {
  display: inline-block;
  margin-right: 1.5em;
  padding: .25em .5em 1.03em;
  border-radius: .15em;
  color: #717171;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: .15em;
}

.nav-main:hover {
  color: #38554B;
  background-color: #34CC99;
}

.nav-main:hover .inner-nav {
  display: block;
}

.inner-nav {
  display: none;
  cursor: pointer;
  color: #fff;
}

.background-img {
  width: 100%;
}
