html {

}

header {
  margin: 1.5em 7.5em 1.5em;
  padding-bottom: 1.5em;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  letter-spacing: .15em;
  float: left;
  color: #333;
}

nav {
  float: right;
  margin-top: .65em;
}

nav li {
  cursor: pointer;
}

nav li:last-child {
  padding-right: 0;
}

.nav-main {
  display: inline-block;
  padding-right: 3.4em;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.05em;
  letter-spacing: .1em;
}

.inner-nav {
  display: none;
  cursor: pointer;
  color: #fff;
}

.background-img {
  width: 100%;
}
